<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-session@1.0.0/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router"></script>
    <!--script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="../static/js/bootstrap/bootstrap.js"></script>
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
</head>
<body style="background-color: #C4C4C4">
<div id="authReg"></div>
<script src="../static/js/vue/auth_reg.js"></script>
</body>
</html>