<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Товар</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="../static/js/bootstrap/bootstrap.js"></script>
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
</head>
<style>
    .common-color {
        color: #14DDB9;
    }
</style>
<body>
<header>
    <nav class="navbar navbar-expand-lg nav-fill navbar-dark bg-dark">
        <div class="d-flex flex-md-fill">
            <a class="navbar-brand" href="#">
                <img src="../static/images/beta_icon.png" width="60" height="40" alt="Логотипище...">
            </a>
            <a class="nav-link dropdown-toggle common-color" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Категории
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Все</a>
                <a class="dropdown-item" href="#">Говно</a>
                <a class="dropdown-item" href="#">Не говно</a>
            </div>

            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
            <img src="../static/images/search_icon.png" width="50" height="40" alt="Найти" class="btn btn-danger">

            <a href="cart.html">
                <img src="../static/images/bucket_icon.png" class="ml-3" width="50" height="40" alt="">
                <!--span class="common-color ml-1">Корзина</span-->
            </a>
            <a href="login.html" class="ml-4 common-color">
                Войти
            </a>
        </div>
    </nav>
</header>
<div class="d-flex mt-5">
    <div>
        <img src="../static/images/product_test.jpg" class="img-fluid ml-3 mr-5"/>
    </div>
    <div class="form-group ml-5 mr-5">
        <fieldset>
            <span class="text-warning">&#9733;</span>
            <span class="text-warning">&#9733;</span>
            <span class="text-warning">&#9733;</span>
            <span>&#9734;</span>
            <span>&#9734;</span>
        </fieldset>
        <h3>Название</h3>
        <p>Цена: <span class="text-primary">2000 р.</span> + доставка</p>
        <p class="text-success mb-5">В наличии 5 штук</p>
        <p class="mt-5">Продавец: <a href="">ivanov_vasilii</a></p>
        <p>Телефон: ...</p>
        <p>E-mail: ...</p>
    </div>
    <div class="ml-auto mr-3">
        <div class="card text-center border border-secondary">
            <div class="card-header">
                <input type="number" class="form-control mb-2 text-center" placeholder="1">
                <button class="form-control btn btn-outline-success text-dark">В корзину</button>
            </div>
            <div class="card-footer">
                <button class="form-control btn btn-outline-warning text-dark">В желаемое</button>
            </div>
        </div>
    </div>
</div>
<div class="ml-2">
    <h6 class="mt-4">Производитель:</h6>
    <input class="form-control w-50" placeholder="..." disabled>
    <h6 class="mt-3">Состояние:</h6>
    <input class="form-control w-50" placeholder="..." disabled>
    <h6 class="mt-3">Категория:</h6>
    <input class="form-control w-50" placeholder="..." disabled>
    <h6 class="mt-3">Краткое описание:</h6>
    <textarea class="form-control w-50" disabled>
        ...
    </textarea>
</div>
<footer class="mb-5">
</footer>
</body>
</html>