<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
</head>
<style>
    .common-color {
        color: #14DDB9;
    }
</style>
<body>
<header>
    <nav class="navbar navbar-expand-lg nav-fill navbar-dark bg-dark">
        <div class="d-flex flex-md-fill">
            <a class="navbar-brand" href="#">
                <img src="../images/beta_icon.png" width="60" height="40" alt="Логотипище...">
            </a>
            <a class="nav-link dropdown-toggle common-color" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Категории
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Все</a>
                <a class="dropdown-item" href="#">Говно</a>
                <a class="dropdown-item" href="#">Не говно</a>
            </div>

            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
            <img src="../images/search_icon.png" width="50" height="40" alt="Найти" class="btn btn-danger">

            <a href="cart.html">
                <img src="../images/bucket_icon.png" class="ml-3" width="50" height="40" alt="">
                <!--span class="common-color ml-1">Корзина</span-->
            </a>
            <a href="login.html" class="ml-4 common-color">
                Войти
            </a>
        </div>
    </nav>
</header>
<ul class="nav nav-tabs ml-2">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="cart.html">Корзина</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="wishlist.html">Желаемое</a>
    </li>
</ul>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-lg-4">
            <div class="card mt-3 mb-3">
                <div class="card-header text-center">
                    <button type="button" class="btn btn-outline-danger close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="card-title">Название товара</h5>
                </div>
                <div class="card-body text-center">
                    <img class="card-img-top img-fluid"
                         src="../images/product_test.jpg" alt="Картинки нет...">
                </div>
                <div class="card-footer">
                    <p class="card-text text-primary">2000 р.</p>
                    <div class="form-group mt-3">
                        <input type="number" class="form-control mb-2 text-center mx-auto" placeholder="1" min="1">
                        <button class="form-control btn btn-outline-success text-dark">
                            Открыть
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="mt-3 mb-5">
    <div class="d-flex justify-content-between">
        <div class="form-inline ml-4">
            <button class="btn btn-outline-dark mr-3">&lt;</button>
            Страница 1
            <button class="btn btn-outline-dark ml-3">&gt;</button>
        </div>
        <div class="form-group mr-4">
            <h5>Общая стоимость: <span class="text-primary">2000 р.</span></h5>
            <button class="form-control btn btn-outline-success text-dark ml-auto">Купить</button>
        </div>
    </div>
</footer>
</body>
</html>